/* resize at 600px width */
/* min width 320px, max width na */
/* min height 550px, max height 1400px */
/* starting from 550px, every 100px rezise, maybe every 200px */
/* phone width 320px-650px, height 550px-850px */
/*
anything bigger then phone sizes, min width 600px min height 600px,

phone min width 320px-450px,
 min height 320-450px
min height 450-550px
min height 550-650px
min height 650-750px
min height 750-850px

phone min width 450px-550px
 min height 320-450px
min height 450-550px
min height 550-650px
min height 650-750px
min height 750-850px

phone min width 550px-650px
 min height 320-450px
min height 450-550px
min height 550-650px
min height 650-750px
min height 750-850px */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 10px 0 0px
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 550px;
    min-height: 475px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 100px;
    width: 100px;
    margin: 10px 0 0;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 500px;
    margin: 10px 0 2px;
    cursor: default;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.timer {
  text-align: end;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: silver;
  opacity: 0.9;

}

.winning-game {
  position: relative;
  background-color: black;
  border-radius: 5px;
  border: 5px solid grey;
  margin: auto;
  margin-top: 270px;
  width: 50%;
  max-width: 550px;
  min-width: 420px;
  height: 30%;
  min-height: 200px;
  text-align: center;
  color: white;
}

.final-star-count li {
  list-style: none;
  display: inline-block;
}

.winning-game-message {
  margin-bottom: 5px;
}
